*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(rgba(0,0,0,.3),rgb(0, 0, 0,.7)),url(../img/52594-programacion.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.banner{
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

header h1{
    color: #ffffff;
    font-weight: bold;
}

#boton{
    font-size: 30px;
    text-decoration: none;
    border: 2px solid #003DFD;
    border-radius: 100px;
    padding: 10px 30px;
    background-color: aqua;
}